{
  "presets": ["es2015"],
  "plugins": [
    "transform-runtime",
    "babel-plugin-add-module-exports",
    "transform-flow-strip-types",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": ["es2015", "es2017"],
      "plugins": ["istanbul", "transform-class-properties"]
    }
  }
}
